name: Build Dinastycoin MacOS

on:
  workflow_dispatch: # Questo ti permette di avviare la build a mano quando vuoi

jobs:
  build:
    runs-on: macos-15-intel # Usiamo Intel Ventura per massima compatibilità

    steps:
      - name: Checkout del codice
        uses: actions/checkout@v4
        with:
          submodules: recursive # Scarica automaticamente tesla369 e gli altri

      - name: Installa dipendenze Mac
        run: |
          brew install cmake pkg-config qt@5 boost openssl@3 zeromq libpgm hidapi readline
          echo "PATH=$(brew --prefix qt@5)/bin:$PATH" >> $GITHUB_PATH

      - name: Compilazione (Build)
        run: |
          ln -s $(pwd)/images/appicons.icns $(pwd)/images/appicon.icns
          mkdir build
          cd build
          cmake -D OpenSSL_ROOT=$(brew --prefix openssl@3) \
                -D CMAKE_PREFIX_PATH=$(brew --prefix qt@5) \
                -D BUILD_GUI_DEPS=ON ..
          make -j3

      - name: Deploy Qt (Impacchettamento librerie)
        run: |
          # Usiamo il tool ufficiale per includere le librerie Qt nel bundle
          $(brew --prefix qt@5)/bin/macdeployqt build/bin/dinastycoin-gui.app -verbose=1 -dmg
          # Il comando sopra creerà automaticamente un file .dmg nella cartella build/bin/

      - name: Salva il file DMG professionale
        uses: actions/upload-artifact@v4
        with:
          name: Dinastycoin-MacOS-Installer
          path: |
            build/bin/*.dmg
            build/bin/*.app
          if-no-files-found: error
